<div class="container">
<h3 class="mt-4 text-info pb-1"><%= @user.username %></h3>
<h4>Post History</h4>
<hr>
<% if @user.posts.blank? %>
  <p>[No Post History]</p>
<% else %>
  <% @user.posts.each do |post| %>
    <%= render 'layouts/post', post: post %>
  <% end %>
<% end %>

<h4>Comment History</h4>
<hr>
<% if @user.comments.blank? %>
  <p>[No Comment History]</p>
<% else %>
  <% @user.comments.each do |comment| %>
    <%= render 'layouts/comment', comment: comment %>
  <% end %>
<% end %>

<h4>Upvoted Posts</h4>
<hr>
<% if @user.upvoted_posts.blank? %>
  <p>[No Upvoted Posts]</p>
<% else %>
  <% @user.upvoted_posts.each do |post| %>
    <%= render 'layouts/post', post: post %>
  <% end %>
<% end %>

<h4>Downvoted Posts</h4>
<hr>
<% if @user.downvoted_posts.blank? %>
  <p>[No Downvoted Posts]</p>
<% else %>
  <% @user.downvoted_posts.each do |post| %>
    <%= render 'layouts/post', post: post %>
  <% end %>
<% end %>
</div>
