<div class="container">
  <div class="alert alert-secondary" role="alert">
    <h1 class="display-4">Welcome to Shreddit</h1>
    <p class="lead">Post what you want. No censorship, ever.</p>
  </div>

  <h2>Top Posts</h2>
  <hr>

  <div class="list-group">
    <% @posts.each do |post| %>
      <%= link_to sub_post_path(sub_id: post.sub, id: post), class: 'list-group-item list-group-item-action' do %>
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= post.title %></h5>
          <small class="text-muted"><%= post.created_at %></small>
        </div>
        <p class="mb-1"><%= post.content.truncate(125) %></p>
        <small class="text-muted">by <%= post.user.username %> in <%= post.sub.name %></small>
      <% end %>
    <% end %>
  </div>

</div>