<div class="container">
  <h2 class="mt-4">Top Posts</h2>
  <hr>

  <% @posts.each do |post| %>
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title"><%= link_to "#{post.title}", sub_post_path(sub_id: post.sub, id: post), class: 'text-primary' %></h4>
        <h6 class="card-subtitle mb-2 text-muted">by <%= link_to "#{post.user.username}", user_path(post.user) %> in <%= link_to "#{post.sub.name}", sub_path(post.sub) %> at <%= post.created_at_formatted %></h6>
        <p class="card-text"><%= post.content.truncate(125) %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><%= render 'layouts/upvote_button', post: post %></li>
              <li class="page-item"><span class="page-link text-body" disabled><%= post.net_votes %></span></li>
              <li class="page-item"><%= render 'layouts/downvote_button', post: post %></li>
            </ul>
          </nav>
        </li>
      </ul>
    </div>
  <% end %>

</div>