<div class="jumbotron jumbotron-fluid text-center bg-white">
  <div class="container">
    <h1 class="display-4">Backend</h1>
    <hr>
    <div class="row">
      <div class="col">
        <div>
          <%= inline_svg_tag "ruby.svg", size: '30% * 30%' %>
        </div>
        <p class="lead">Ruby</p>
      </div>
      <div class="col">
        <div>
          <%= inline_svg_tag "rails.svg", size: '60% * 60%' %>
        </div>
        <p class="lead">Rails</p>
      </div>
      <div class="col">
        <div>
          <%= inline_svg_tag "sqlite.svg", size: '50% * 50%' %>
        </div>
        <p class="lead">SQLite</p>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid text-center bg-white">
  <div class="container">
    <h1 class="display-4">Frontend</h1>
    <hr>
    <div class="row">
      <div class="col">
        <div>
          <%= inline_svg_tag "bootstrap.svg", size: '50% * 50%' %>
        </div>
        <p class="lead">Bootstrap</p>
      </div>
      <div class="col">
        <div>
          <%= inline_svg_tag "html.svg", size: '50% * 50%' %>
        </div>
        <p class="lead">HTML</p>
      </div>
      <div class="col">
        <div>
          <%= inline_svg_tag "css.svg", size: '50% * 50%' %>
        </div>
        <p class="lead">CSS</p>
      </div>
      <div class="col">
        <div>
          <%= inline_svg_tag "javascript.svg", size: '50% * 50%' %>
        </div>
        <p class="lead">JavaScript</p>
      </div>
    </div>
  </div>
</div>
