<div class="jumbotron jumbotron-fluid text-center bg-white">
  <div class="container">
    <h1 class="display-4">Backend</h1>
    <hr>
    <div class="row">
      <div class="col">
        <div>
          <%= inline_svg "ruby.svg", size: '30% * 30%' %>
        </div>
        <p class="lead">Ruby</p>
      </div>
      <div class="col">
        <div>
          <%= inline_svg "rails.svg", size: '60% * 60%' %>
        </div>
        <p class="lead">Rails</p>
      </div>
      <div class="col">
        <div>
          <%= inline_svg "sqlite.svg", size: '50% * 50%' %>
        </div>
        <p class="lead">SQLite</p>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid text-center bg-white">
  <div class="container">
    <h1 class="display-4">Frontend</h1>
    <hr>
    <div class="row">
      <div class="col">
        <div>
          <%= inline_svg "bootstrap.svg", size: '50% * 50%' %>
        </div>
        <p class="lead">Bootstrap</p>
      </div>
      <div class="col">
        <div>
          <%= inline_svg "html.svg", size: '50% * 50%' %>
        </div>
        <p class="lead">HTML</p>
      </div>
      <div class="col">
        <div>
          <%= inline_svg "css.svg", size: '50% * 50%' %>
        </div>
        <p class="lead">CSS</p>
      </div>
      <div class="col">
        <div>
          <%= inline_svg "javascript.svg", size: '50% * 50%' %>
        </div>
        <p class="lead">JavaScript</p>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid text-center bg-white">
  <div class="container">
    <h1 class="display-4">Operations</h1>
    <hr>
    <div class="row">
      <div class="col">
        <div>
          <%= inline_svg "aws.svg", size: '50% * 50%' %>
        </div>
        <p class="lead">Amazon Web Services</p>
      </div>
      <div class="col">
        <div>
          <%= inline_svg "nginx.svg", size: '60% * 60%' %>
        </div>
        <p class="lead">NGINX</p>
      </div>
      <div class="col">
        <div>
          <%= inline_svg "terraform.svg", size: '50% * 50%' %>
        </div>
        <p class="lead">Terraform</p>
      </div>
      <div class="col">
        <div>
          <%= inline_svg "ansible.svg", size: '50% * 50%' %>
        </div>
        <p class="lead">Ansible coming soon...</p>
      </div>
      <div class="col">
        <div>
          <%= inline_svg "docker.svg", size: '50% * 50%' %>
        </div>
        <p class="lead">Docker</p>
      </div>
      <div class="col">
        <div>
          <%= inline_svg "gitlab.svg", size: '50% * 50%' %>
        </div>
        <p class="lead">GitLab CI/CD</p>
      </div>
    </div>
  </div>
</div>
