<div class="jumbotron jumbotron-fluid bg-dark text-white py-1">
  <div class="container">
    <h1 class="display-4"><%= link_to "#{@sub.name}", sub_path(@sub), class: 'text-white' %></h1>
    <p class="lead"><%= @sub.description %></p>
    <small class="">Owner: <%= link_to "#{@sub.user.username}", user_path(@sub.user), class:'text-white' %></small>
  </div>
</div>

<div class="container">
<% if user_signed_in? && current_user.id == @sub.user_id %>
  <p>You are the sub owner! You will have admin actions in the future :)</p>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'New Post', new_sub_post_path(@sub), class: 'btn btn-primary' %>
<% else %>
  <button type="button" class="btn btn-primary" disabled>Log in to create a post</button>
<% end %>
<br><br>

<% if @sub.posts.empty? %>
  <p>There are no posts! Be the first to create one :)</p>
<% else %>
  <% @sub.posts.each do |post| %>
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title"><%= link_to "#{post.title}", sub_post_path(sub_id: post.sub, id: post), class: 'text-primary' %></h4>
        <h6 class="card-subtitle mb-2 text-muted">by <%= link_to "#{post.user.username}", user_path(post.user) %> at <%= post.created_at_formatted %></h6>
        <p class="card-text"><%= post.content.truncate(125) %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><%= render 'upvote_button', post: post %></li>
              <li class="page-item"><span class="page-link text-body" disabled><%= post.net_votes %></span></li>
              <li class="page-item"><%= render 'downvote_button', post: post %></li>
            </ul>
          </nav>
        </li>
      </ul>
    </div>
  <% end %>
<% end %>

</div>
