<div class="container">
<% if user_signed_in? && current_user.id == @sub.id %>
  <p>You are the sub owner! You can do whatever.</p>
<% end %>

<h1 class="display-4"><%= @sub.name %></h1>
<p class="lead"><%= @sub.description %></p>
<p>Owner: <%= @sub.user.username %></p>

<% if user_signed_in? %>
  <%= link_to 'New Post', new_sub_post_path(@sub), class: 'btn btn-primary' %>
<% else %>
  <button type="button" class="btn btn-primary" disabled>Log in to create a post</button>
<% end %>
<br><br>

<% if @sub.posts.empty? %>
  <p>There are no posts! Be the first to create one :)</p>
<% else %>
  <div class="list-group">
    <% @sub.posts.each do |post| %>
      <%= link_to sub_post_path(sub_id: post.sub, id: post), class: 'list-group-item list-group-item-action bg-light' do %>
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= post.title %></h5>
          <small class="text-muted"><%= post.created_at.localtime.strftime("%l:%M%p %m/%d/%Y") %></small>
        </div>
        <p class="mb-1"><%= post.content.truncate(125) %></p>
        <small class="text-muted">by <%= post.user.username %> in <%= post.sub.name %> | Votes: <%= post.net_votes %></small>
      <% end %>
    <% end %>
  </div>
<% end %>

</div>
