<div class="jumbotron jumbotron-fluid bg-dark text-white py-1">
  <div class="container">
    <h1 class="display-4"><%= link_to "#{@sub.name}", sub_path(@sub), class: 'text-white' %></h1>
    <p class="lead"><%= @sub.description %></p>
    <small class="">Owner: <%= link_to "#{@sub.user.username}", user_path(@sub.user), class:'text-white' %></small>
  </div>
</div>

<div class="container">
<% if user_signed_in? && current_user.id == @sub.user_id %>
  <p>You are the sub owner! You will have admin actions in the future :)</p>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'New Post', new_sub_post_path(@sub), class: 'btn btn-primary' %>
<% else %>
  <button type="button" class="btn btn-primary" disabled>Log in to create a post</button>
<% end %>
<br><br>

<% if @sub.posts.empty? %>
  <p>There are no posts! Be the first to create one :)</p>
<% else %>
  <% @sub.posts.each do |post| %>
    <%= render 'layouts/post', post: post %>
  <% end %>
<% end %>

</div>
