<div class="container">
  <h1 class="mt-4">Create a post</h1>
  <%= form_for [:sub, @post], html: {class: "nifty_form"} do |f| %>
    <div class="form-group">
      <%= f.label :title, 'Title of your post' %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :content, 'Your post' %>
      <%= f.text_area :content, class: 'form-control' %>
    </div>
    <%= f.submit "Create", class: 'btn btn-primary' %>
  <% end %>
</div>