<div class="container">
  <h1><%= @post.sub.name %></h1>
  <p class="lead"><%= @post.sub.description %></p>

  <div class="card bg-light">
    <div class="card-body">
      <h3 class="card-title"><%= @post.title %></h3>
      <p class="card-subtitle mb-2 text-muted"><%= @post.user.username %></p>
      <p class="card-text"><%= @post.content %></p>
      <p class="card-text text-muted">Votes: <%= @post.net_votes %></p>
    </div>
  </div>

  <%# fix this mess. put stuff in the controller %>
  <%# then apply this to every post in top posts view %>
  <%# and also apply this to subs show view, which is a list of posts for the sub %>
  <%# maybe there's a way to apply this everywhere without repeating in every controller/view %>
  <%# first get it working in each controller then move it elsewhere %>


  <div class="row">
  <%# show upvote button %>
    <div class="col pr-0">
    <% if user_signed_in?%>
      <% if current_user.upvotes.where(:post_id => @post.id).exists? %>
        <%= form_for current_user.upvotes.where(:post_id => @post.id).first, method: :delete do |f| %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :post_id, :value => @post.id %>
          <%= f.submit "Upvoted!", class: 'btn btn-primary btn-block' %>
        <% end %>
      <% else %>
        <%= form_for Upvote.new do |f| %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :post_id, :value => @post.id %>
          <%= f.submit "Upvote", class: 'btn btn-outline-primary btn-block' %>
        <% end %>
      <% end %>
    <% else %>
      <button type="button" class="btn btn-primary" disabled>Log in to upvote!</button>
    <% end %>
    </div>

    <%# show downvote button %>
    <div class="col pl-0">
    <% if user_signed_in?%>
      <% if current_user.downvotes.where(:post_id => @post.id).exists? %>
        <%= form_for current_user.downvotes.where(:post_id => @post.id).first, method: :delete do |f| %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :post_id, :value => @post.id %>
          <%= f.submit "Downvoted!", class: 'btn btn-danger btn-block' %>
        <% end %>
      <% else %>
        <%= form_for Downvote.new do |f| %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :post_id, :value => @post.id %>
          <%= f.submit "Downvote", class: 'btn btn-outline-danger btn-block' %>
        <% end %>
      <% end %>
    <% else %>
      <button type="button" class="btn btn-primary" disabled>Log in to downvote!</button>
    <% end %>
    </div>
  </div>

  <p>And then comments will go here!</p>
</div>

</div>