<div class="jumbotron jumbotron-fluid bg-dark text-white py-1">
  <div class="container">
    <h1 class="display-4"><%= link_to "#{@post.sub.name}", sub_path(@post.sub), class: 'text-white' %></h1>
    <p class="lead"><%= @post.sub.description %></p>
  </div>
</div>

<div class="container">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title"><%= @post.title %></h2>
      <h6 class="card-subtitle mb-2 text-muted">by <%= link_to "#{@post.user.username}", user_path(@post.user) %> at <%= @post.created_at_formatted %></h6>
      <p class="card-text"><%= @post.content %></p>
    </div>
    <span id="vote-buttons-<%= @post.id %>">
      <%= render 'layouts/vote_buttons', post: @post %>
    </span>
  </div>

  <hr>
  <% if user_signed_in? %>
    <%= form_with(model: @comment) do |f| %>
      <div class="form-group">
        <%= f.label :comment, 'Write a comment' %>
        <%= f.text_area :comment, class: 'form-control' %>
      </div>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :post_id, :value => @post.id %>
        <%= f.submit "Post", class: 'btn btn-primary my-1' %>
    <% end %>
  <% end %>

  <hr>
  <h3><%= @post.comments.count %> comments <%= inline_svg "comments.svg", size: "28*28" %></p></h3>
  <div id="comments">
    <% @post.comments.each do |comment| %>
      <%= render 'layouts/comment', comment: comment %>
    <% end %>
  </div>
</div>