<div class="jumbotron jumbotron-fluid bg-dark text-white py-1">
  <div class="container">
    <h1 class="display-4"><%= link_to "#{@post.sub.name}", sub_path(@post.sub), class: 'text-white' %></h1>
    <p class="lead"><%= @post.sub.description %></p>
  </div>
</div>

<div class="container">
  <div class="card bg-light">
    <div class="card-body">
      <h3 class="card-title"><%= @post.title %></h3>
      <p class="card-subtitle mb-2 text-muted"><%= @post.user.username %></p>
      <p class="card-text"><%= @post.content %></p>
      <p class="card-text text-muted">Votes: <%= @post.net_votes %></p>
    </div>
  </div>

  <div class="row">
  <%# show upvote button %>
    <div class="col pr-0">
    <% if user_signed_in? %>
      <% if current_user.upvoted_post?(@post) %>
        <%= form_for @upvote, method: :delete do |f| %>
          <%= f.hidden_field :post_id, :value => @post.id %>
          <%= f.submit "Upvoted!", class: 'btn btn-primary btn-block' %>
        <% end %>
      <% else %>
        <%= form_for Upvote.new do |f| %>
          <%= f.hidden_field :post_id, :value => @post.id %>
          <%= f.submit "Upvote", class: 'btn btn-outline-primary btn-block' %>
        <% end %>
      <% end %>
    <% else %>
      <button type="button" class="btn btn-outline-secondary btn-block" disabled>Log in to upvote!</button>
    <% end %>
    </div>

    <%# show downvote button %>
    <div class="col pl-0">
    <% if user_signed_in? %>
      <% if current_user.downvoted_post?(@post) %>
        <%= form_for @downvote, method: :delete do |f| %>
          <%= f.hidden_field :post_id, :value => @post.id %>
          <%= f.submit "Downvoted!", class: 'btn btn-danger btn-block' %>
        <% end %>
      <% else %>
        <%= form_for Downvote.new do |f| %>
          <%= f.hidden_field :post_id, :value => @post.id %>
          <%= f.submit "Downvote", class: 'btn btn-outline-danger btn-block' %>
        <% end %>
      <% end %>
    <% else %>
      <button type="button" class="btn btn-outline-secondary btn-block" disabled>Log in to downvote!</button>
    <% end %>
    </div>
  </div>

  <hr>
  <% if user_signed_in? %>
    <%= form_for @comment do |f| %>
      <div clss="form-group">
        <%= f.label :comment, 'Write a comment' %>
        <%= f.text_field :comment, class: 'form-control' %>
      </div>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :post_id, :value => @post.id %>
        <%= f.submit "Post", class: 'btn btn-primary my-1' %>
    <% end %>
  <% end %>

  <h3>Comments</h3>
  <% @post.comments.each do |comment| %>
    <div class="card my-1">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted"><%= comment.user.username %></h6>
        <p class="card-text"><%= comment.comment %></p>
        <p class="card-text"><small class="text-muted"><%= comment.created_at_formatted %></small></p>
      </div>
    </div>
  <% end %>

</div>