<div class="container">
  <h1 class="display-4"><%= @post.sub.name %></h1>
  <p class="lead"><%= @post.sub.description %></p>

  <div class="card">
    <div class="card-body">
      <h3 class="card-title"><%= @post.title %></h3>
      <p class="card-subtitle mb-2 text-muted"><%= @post.user.username %></p>
      <p class="card-text"><%= @post.content %></p>
    </div>
  </div>

  <p>And then comments will go here!</p>

</div>