<div class="jumbotron jumbotron-fluid bg-dark text-white py-1">
  <div class="container">
    <h1 class="display-4"><%= link_to "#{@post.sub.name}", sub_path(@post.sub), class: 'text-white' %></h1>
    <p class="lead"><%= @post.sub.description %></p>
  </div>
</div>

<div class="container">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title"><%= @post.title %></h2>
      <h6 class="card-subtitle mb-2 text-muted">by <%= link_to "#{@post.user.username}", user_path(@post.user) %> at <%= @post.created_at_formatted %></h6>
      <p class="card-text"><%= @post.content %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><%= render 'layouts/upvote_button', post: @post %></li>
            <li class="page-item"><span class="page-link text-body" disabled><%= @post.net_votes %></span></li>
            <li class="page-item"><%= render 'layouts/downvote_button', post: @post %></li>
          </ul>
        </nav>
      </li>
    </ul>
  </div>

  <hr>
  <% if user_signed_in? %>
    <%= form_with(model: @comment) do |f| %>
      <div clss="form-group">
        <%= f.label :comment, 'Write a comment' %>
        <%= f.text_area :comment, class: 'form-control' %>
      </div>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :post_id, :value => @post.id %>
        <%= f.submit "Post", class: 'btn btn-primary my-1' %>
    <% end %>
  <% end %>

  <hr>
  <h3>Comments</h3>
  <% @post.comments.each do |comment| %>
    <div class="card my-1">
      <div class="card-body">
        <p class="card-text"><%= comment.comment %></p>
        <p class="card-text"><small class="text-muted"><%= link_to "#{comment.user.username}", user_path(comment.user) %> @ <%= comment.created_at_formatted %></small></p>
      </div>
    </div>
  <% end %>
</div>