<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "The Forum", root_path, :class => 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Top Posts", root_path, :class => 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "Browse Forums", forums_path, :class => 'nav-link' %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://github.com/nelsonfigueroa/reddit_clone">View on GitHub</a>
          <%= link_to 'Technologies Used', technologies_path, :class => 'dropdown-item' %>
        </div>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-info" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.username %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'View Profile', user_path(current_user), :class => 'dropdown-item' %>
          <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => 'dropdown-item' %>
        </div>
      </li>
      <% else %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Join
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Login", new_user_session_path, :class => 'dropdown-item' %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'dropdown-item' %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
