<div class="card mb-1">
  <div class="card-body">
    <h5><%= link_to "#{post.title}", forum_post_path(forum_id: post.forum, id: post), class: 'text-primary' %></h5>
    <p class="m-0"><%= post.content.truncate(125) %></p>
    <p class="small text-muted">
      by <%= link_to "#{post.user.username}", user_path(post.user) %> 
      in <%= link_to "#{post.forum.name}", forum_path(post.forum) %> 
      | <%= post.created_at_formatted %>
      | <%= post.comments.size %> Comments
      | <span id=net-votes-<%= post.id %>><%= post.net_votes %></span> points (<span id="percentage-of-upvotes-<%= post.id %>"><%= post.percentage_of_upvotes %></span>%)
    </p>
    <span id="vote-buttons-<%= post.id %>">
      <%= render 'layouts/vote_buttons', post: post %>
    </span>
  </div>
</div>