<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <nav>
      <ul class="pagination">
        <% if user_signed_in? %>

          <% if current_user.has_not_voted?(post) %>
            <li class="page-item">
              <%= form_with(model: Vote.new) do |f| %>
                <%= f.hidden_field :post_id, :value => post.id %>
                <%= f.hidden_field :upvote, :value => true %>
                <%= f.hidden_field :downvote, :value => false %>
                <%= button_tag type: 'submit', class: 'page-link' do %>
                  <%= inline_svg "upvote.svg", size: '16 * 16' %>
                <% end %>
              <% end %>
            </li>
            <li class="page-item"><span class="page-link text-body" disabled><%= post.net_votes %></span></li>
            <li class="page-item">
              <%= form_with(model: Vote.new) do |f| %>
                <%= f.hidden_field :post_id, :value => post.id %>
                <%= f.hidden_field :upvote, :value => false %>
                <%= f.hidden_field :downvote, :value => true %>
                <%= button_tag type: 'submit', class: 'page-link' do %>
                  <%= inline_svg "downvote.svg", size: '16 * 16' %>
                <% end %>
              <% end %>
            </li>
            
          <% elsif current_user.upvoted_post?(post) %>
            <li class="page-item">
              <%= form_with(model: current_user.votes.where(:post_id => post.id, :upvote => true, :downvote => false).first, method: :delete) do |f| %>
                <%= f.hidden_field :post_id, :value => post.id %>
                <%= button_tag type: 'submit', class: 'page-link bg-primary text-white' do %>
                  <%= inline_svg "upvote.svg", size: '16 * 16' %>
                <% end %>
              <% end %>
            </li>
            <li class="page-item"><span class="page-link text-body" disabled><%= post.net_votes %></span></li>
            <li class="page-item">
              <%= form_with(model: current_user.votes.where(:post_id => post.id, :upvote => true, :downvote => false).first, method: :put) do |f| %>
                <%= f.hidden_field :post_id, :value => post.id %>
                <%= f.hidden_field :upvote, :value => false %>
                <%= f.hidden_field :downvote, :value => true %>
                <%= button_tag type: 'submit', class: 'page-link' do %>
                  <%= inline_svg "downvote.svg", size: '16 * 16' %>
                <% end %>
              <% end %>
            </li>

          <% elsif current_user.downvoted_post?(post) %>
            <li class="page-item">
              <%= form_with(model: current_user.votes.where(:post_id => post.id, :upvote => false, :downvote => true).first, method: :put) do |f| %>
                <%= f.hidden_field :post_id, :value => post.id %>
                <%= f.hidden_field :upvote, :value => true %>
                <%= f.hidden_field :downvote, :value => false %>
                <%= button_tag type: 'submit', class: 'page-link' do %>
                  <%= inline_svg "upvote.svg", size: '16 * 16' %>
                <% end %>
              <% end %>
            </li>
            <li class="page-item"><span class="page-link text-body" disabled><%= post.net_votes %></span></li>
            <li class="page-item">
              <%= form_with(model: current_user.votes.where(:post_id => post.id, :upvote => false, :downvote => true).first, method: :delete) do |f| %>
                <%= f.hidden_field :post_id, :value => post.id %>
                <%= button_tag type: 'submit', class: 'page-link bg-danger text-white' do %>
                  <%= inline_svg "downvote.svg", size: '16 * 16' %>
                <% end %>
              <% end %>
            </li>
          <% end %>

        <% else %>
        <li class="page-item"><button type="button" class='page-link' disabled><%= inline_svg "upvote.svg", size: '16 * 16' %></button></li>
        <li class="page-item"><span class="page-link text-body" disabled><%= post.net_votes %></span></li>
        <li class="page-item"><button type="button" class='page-link' disabled><%= inline_svg "downvote.svg", size: '16 * 16' %></button></li>
        <% end %>
      </ul>
    </nav>
  </li>
</ul>
